*{ 
    margin: 0; 
    padding: 0; 
} 
body {
  background-color: rgb(98 129 216 / 54%);
  color: rgb(255, 255, 255);
}

header{ 
    height: 100%;
    width: 100%; 
    background-color:rgb(33, 143, 143);   
} 
header h1 {
  font-size:2em;
  text-align: center;
  line-height: 2em;
}


nav {
  background-color: rgba(20, 120, 214, 0);
  height: 5em;
  
  
}
@media screen and (max-width: 650px){
  nav {
    margin-block-end: 60%;  
  }
}
ul{
    list-style: none;
    text-align: center;
    margin: 1em;
  }
  #menu li a {
    height: 2em;
    background-color: rgb(24 22 31);
    color: rgb(222 214 253);
    padding: 0.5em;
    display: block;
    text-decoration: none;
    min-width: 8em;
    font-family: Arial;
    
   
   
}
  #menu li a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu li{
    display: inline-block;
    margin-inline: -2px;
    text-align:center
  }
 
 

#contenido{ 
    width: 90%; 
    height: 90%; 
    background-color: rgba(36, 75, 45, 0.575);  
    padding: 1em; 
  
} 

img{
  width: 90%;

  height: 90%;
}


/* aside */
#login {
  
  box-sizing: border-box;
  width: 18em;
  padding: 3em;
  border-radius: 10px;

  margin: 3em auto;
  background-color: #092f08a3;
  color: rgb(193 193 193);

}


#login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #login button {
    background-color: #882608;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
 
  #login  button:hover {
    opacity: 0.8;
  }
  

  #login .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar imagen */
  #login img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  

  .container {
    padding: 16px;
  }
  
 
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  a:-webkit-any-link {
    color: beige;
    cursor: pointer;
    text-decoration: underline;
}
/* footer */

.copyright {
  text-align: right;
  color: rgb(0 0 0 / 60%);
}
/* Registro */




#registro {
  box-sizing: border-box;
  width: 18em;
  padding: 3em;
  border-radius: 10px;
  /* margin-top: 3em; */
  margin:   auto;
  background-color: #092f08a3;
  color: rgb(193 193 193);
}
#registro label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

#registro input[type="text"],
 #registro input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
#registro input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #092f08;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

#registro input[type="submit"]:hover{
	cursor:pointer;
}
#registro input[type="submit"]{
	background-color: rgb(179, 11, 11);
}
